#  Importing libraries

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

#  importing data ( order.csv)

In [6]:
df = pd.read_csv(r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = False)

# Shortcut for Importing Data Files( order.csv)

In [8]:
path = r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [10]:
path

'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [12]:
df = pd.read_csv(os.path.join(path,'02 Data/Original Data/orders.csv'), index_col = False)

# Exploring Data with Pandas with head() function( order.csv)

In [38]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [87]:
df.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Exploring Data with Pandas with teil() function( order.csv)

In [44]:
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [46]:
df.tail(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

# to returns the dimensions of a dataframe( order.csv)

In [52]:
df.shape

(3421083, 7)

# to returns some basic information about your dataframe( order.csv)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

# to check the data types of a dataframe’s columns( order.csv)

In [56]:
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# to check the titles of your columns ( order.csv)

In [58]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

# to check descriptive statistics( order.csv)

In [60]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# to impoert data with only upper 1000 rows( order.csv)

In [62]:
df = pd.read_csv(os.path.join(path,'02 Data/Original Data/orders.csv'), nrows=1000)

# lists all the columns in the “orders.csv” data set except for “eval_set”( order.csv)

In [68]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

# to import data to only import the columns in your list using usecols argument( order.csv)

In [74]:
df = pd.read_csv(os.path.join(path,'02 Data/Original Data/orders.csv'), usecols = vars_list)

In [72]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

# to get head and tail columns ( order.csv)

In [78]:
df.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0

In [82]:
df.tail()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [84]:
df.tail(3)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

# 7. importing data ( products.csv)

In [18]:
df = pd.read_csv(r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis/02 Data/Original Data/products.csv', index_col = False)

# 7.Shortcut for Importing Data Files( products.csv)

In [21]:
path = r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [23]:
path

'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [25]:
df_prod= pd.read_csv(os.path.join(path,'02 Data/Original Data/products.csv'), index_col = False)

# 8. Print the first 20 rows and the last 35 rows of the df_prods dataframe.

In [95]:
df_prod.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [27]:
df_prod['prices'].max()

99999.0

In [97]:
df_prod.tail(20)

,product_id,product_name,aisle_id,department_id,prices
49673,49669,K Cup Dark Blend,100,21,4.7
49674,49670,Beef Summer Sausage,106,12,19.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49677,49673,Stone Baked Multi Grain Artisan Rolls,129,1,5.6
49678,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1,11.1
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49681,49677,Thick & Chunky Sloppy Joe Sauce,59,15,8.9
49682,49678,Large Chicken & Cheese Taquitos,129,1,3.4
49683,49679,Famous Chocolate Wafers,61,19,6.0
49684,49680,All Natural Creamy Caesar Dressing,89,13,4.9
49685,49681,Spaghetti with Meatballs and Sauce Meal,38,1,6.9
49686,49682,California Limeade,98,7,4.3
49687,49683,Cucumber Kirby,83,4,13.2
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

# 9. Print the names of the columns in the df_prods dataframe.

In [99]:
df_prod.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

# 10. Print the number of rows and columns in the df_prods dataframe

In [101]:
df_prod.shape

(49693, 5)

# 11.What’s the maximum value of the “aisle_id” column?

In [131]:
aisle_id = ['aisle_id']

In [133]:
df_prod= pd.read_csv(os.path.join(path,'02 Data/Original Data/products.csv'), usecols = aisle_id)

In [135]:
max_aisle_id=df_prod['aisle_id'].max()
print('Maximum if aisle_id:',max_aisle_id)

Maximum if aisle_id: 134

# 11. What’s the data type of the “department_id” column?

In [137]:
depar_id = ['department_id']

In [139]:
df_prod= pd.read_csv(os.path.join(path,'02 Data/Original Data/products.csv'), usecols = depar_id)

In [141]:
df_prod.dtypes

department_id    int64
dtype: object