# Importing libraries

In [15]:
import pandas as pd
import numpy as np
import os

# Shortcut for Importing Data Files             ( order.csv)

In [17]:
path = r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [67]:
df_ords = pd.read_csv(os.path.join(path,'02 Data/Original Data/orders.csv'), index_col = False)

# Shortcut for Importing Data Files            ( products.csv)

In [20]:
path= r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [21]:
df_prods= pd.read_csv(os.path.join(path,'02 Data/Original Data/products.csv'), index_col = False)

# DATA WRANGLING  (products.csv)

## DROPPING CLOUMNS -> To remove the "eval_set" column from “orders.csv” using Drop() list.   (order.scv)

In [24]:
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

### --> to remove the "eval_set" column from df_ords            (order.csv)

In [26]:
df_ords = df_ords.drop(columns = ['eval_set'])

## ---> to create a new version of df_ords without the "eval_set" column called df_ords_2       (order.csv)

In [69]:
df_ords_2 = df_ords.drop(columns = ['eval_set'])

## ----> spot the missing (NaN) valuein  df_ords dataframe on the "days_since_prior_order" columns using the value_counts()  (order.csv)

In [71]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

##  RENAMING COLUMNS ->To change the name of a column, use the df.rename() function        (order.csv)

In [73]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [75]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [55]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## CHANGING VARIABLE'S DATA TYPE -> changes the data type of the "order_id" column from a number to a string   (ORDERS.CSV)

In [77]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

### --> to check datatype of single colimns with dtype() function  (order.csv)

In [59]:
df_ords['order_id'].dtype

dtype('O')

# TRANSPOSING --->import csv file    (department.cvs)

In [61]:
df_dep = pd.read_csv(os.path.join(path,'02 Data/Original Data/departments.csv'), index_col = False)

In [63]:
df_dep.head(10)

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

## TRANSPOSING DATA --> to transpose wode table to long table or visa-versa   (departments.csv)

In [ ]:
df_dep.T

## --->to overwrite the old df_dep dataframe with the new transposed df_dep dataframe (departments.csv)

In [ ]:
df_dep_t = df_dep.T

In [ ]:
df_dep_t

## to reset index    (departments.csv)

In [ ]:
df_dep_t.reset_index()

## to  creating an object that contains the first row of the dataframe, row 0    (departments.csv)

In [ ]:
new_header = df_dep_t.iloc[0]

In [ ]:
new_header

## to create a new dataframe that only copies over rows beyond the first row  (departments.csv)

In [ ]:
df_dep_t_new = df_dep_t[1:]

In [ ]:
df_dep_t_new

## to do now is set  "new_header" variable as the new header for your "df_dep_t_new" dataframe.   (departments.csv)

In [ ]:
df_dep_t_new.columns = new_header

In [ ]:
df_dep_t_new

# **DATA DICTIONARIES**

##  to create a data dictionary that contains meanings for the values in the "department_id" column    (departments.csv)

In [ ]:
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
print(data_dict.get('19'))

## to see the first five rows from     (products.csv)

In [ ]:
df_prods.head()

# **SUBSETTING**

##  to create a subset for your df_prods dataframe     (products.csv)

In [ ]:
df_snacks =  df_prods[df_prods['department_id']==19] #df_snacks->(departments.csv)

In [ ]:
df_prods['department_id']==19

In [ ]:
df_prods[df_prods['department_id' ]==19]

## to save these results into a new dataframe

In [ ]:
df_snacks =  df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

In [ ]:
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [ ]:
df_snacks_2

In [ ]:
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19,17,18])]

In [ ]:
df_snacks_3

# **EXPORTING DATAFRAMES**

In [79]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled4.4.csv'),index=False)