## **Import libraries**

In [6]:
import pandas as pd
import numpy as nm
import os

## **Import cvs files**

In [8]:
#path
path = r'/Users/poojathummar/Documents/career Foundary/Data Immersion/Achi 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [9]:
#orders_products_prior.csv from origanl data folder
df_ords_prior= pd.read_csv(os.path.join(path,'02 Data/Original Data/orders_products_prior.csv'), index_col = False)

In [10]:
#orders_checked.csv  from prepared data folder
df_ords= pd.read_csv(os.path.join(path,'02 Data/Prepared Data/orders_checked45.csv'),index_col = False)

## **Codes**

In [12]:
# Check the output of  orders_products_prior.csv  file
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# Check the output of  orders_checked.csv  file
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.shape

(3421083, 8)

## Merging  Instacart Data

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [19]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
df_merged_large.shape

(32434489, 12)

## **Exporting  files**

In [22]:
# Export data to csv
#df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined4.6.csv'),index=False)
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined46.pkl'))

In [23]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_final46.csv'),index=False)